<!doctype html>
<html ng-app="app" ng-controller="indexController">
	<head> 
		<title ng-bind="tituloapp">Generando aplicacion...</title>
		<link rel="stylesheet"  href="css/materialize.css">
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet"  href="css/font-awesome.min.css">
		<link rel="stylesheet"  href="css/style.css">
		<!--https://raw.githubusercontent.com/IamAdamJowett/angular-click-outside/master/clickoutside.directive.js-->
	</head> 

	<body >
		<header>
			<nav>
				<div class="nav-wrapper tekoestudio">
				  <a href="#/" class="brand-logo"><img src="images/tekoestudio-white.png"></a>
				  <a href="#" class="button-collapse show-on-large" ng-click="mostrarSideNav($event)"><i class="material-icons">menu</i></a>
				</div>
			</nav>
			<ul id="slide-out" class="side-nav fixed-nav {{clase}}">
				<li class="nav-head"><a href="#/" ng-click="mostrarSideNav($event)"><i class="fa fa-arrow-left"></i> <span>CERRAR MENU</span></a></li>
				<li class="menuitem"><a href="#/" ng-click="regresarHome()"><i class="fa fa-list-ol"></i>Inventario</a></li>
				<li class="menuitem"><a href="#/perfil"><i class="fa fa-user"></i>Perfil</a></li>
			</ul>
			
		</header>
		<div ng-view="">
		</div>
		<div id="modal1" class="modal modal-fixed-footer {{claseM}}" click-outside="closeThis()" outside-if-not="mostrar">
			<div class="modal-content">
			  <h4>Modal Header</h4>
			  <p>A bunch of text</p>
			</div>
			<div class="modal-footer">
			  <a href="#!" ng-click="ocultarModal($event)" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
			</div>
		</div>
		<div class="overlay {{claseO}}"></div>
		<a href="#" id="mostrar" ng-click="mostrarModal($event)">Mostrar</a>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/clickOutside.js"></script>
		<script src="js/modelo.js"></script>
	</body>
</html>